<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #540002;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: green;
}
body {
    background-color: #FFAAAA;
}
b {
    text-decoration: underline;
}
</style>
</head>
<body>
    <div class="col-12">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="shop">Shop</a></li>
        </ul>
    </div>
    <div class="col-12 ">
        <p><b><center>Welcome to Shop</center></b></p> 
    </div> 

</body>
</html>
